PORT=8080

POSTGRES_HOST=localhost
POSTGRES_USER=[user_name]
POSTGRES_DB=[db_name]
POSTGRES_PASSWORD=[user_password]
POSTGRES_PORT=5432
PRIVATE_KEY=[no_useful]

JWT_ACCESS_SECRET=[secret_access_key]
JWT_REFRESH_SECRET=[secret_refresh_key]
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7